<md-toolbar class="mdl-layout__header" layout="column">
    <h1 class="header-title">Rachio Remote</h1>
</md-toolbar>

<md-content layout-padding layout-align="center center" layout="column">

    <div layout="column" layout-align="center center" layout-fill="layout-fill" class="loginContent">
        <div layout="column" class="loginBox md-whiteframe-z1">
            <md-toolbar>
                <h2 class="md-toolbar-tools">
                    <span>Login</span>
                </h2>
            </md-toolbar>
            <md-content layout="column" class="md-padding">
                <md-input-container>
                    <label>Api Key</label>
                    <input ng-model="apiKey" required/>
                    <p ng-show="validate" class='validate'>That Api key is not valid.</p>
                </md-input-container>
                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>
                    <div flex="flex"></div>
                </div>
            </md-content>
        </div>
        <div></md-content>
