.header-title {
  text-align: center;
  color: white;
  font-size: 20pt;
}
.card {
  width: 250px;
}
.card-image-container {
  position: relative;
}
.droplet-image-container {
  position: absolute;
  top: 5px;
  width: 100%;
}
.droplet-image {
  z-index: 1;
  margin: auto;
  width: 30px;
}
.card-device-text {
  text-align: center;
  color: white;
  font-size: 18pt;
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
}

.status-text-inactive {
  color: gray;
  font-size: 14pt;
}

.status-text-active {
  color: blue;
  font-size: 14pt;
}

.card-zone-text {
  text-align: center;
  color: orange;
  font-size: 16pt;
  margin: 0;
  /*margin-top: 10px;*/
}

.md-card-title {
  padding: 12px;
  padding-bottom: 0;
}
.menu-button {
  width: 100%;
}
md-icon {
  color: black;
}
