.header-title {
  text-align: center;
  color: white;
  font-size: 20pt;
}
.card {
  width: 300px;
}
.card-image-container {
  position: relative;
}
.droplet-image-container {
  position: absolute;
  top: 15px;
  width: 100%;
}
.droplet-image {
  z-index: 1;
  margin: auto;
  width: 30px;
}
.card-zone-text {
  text-align: center;
  color: white;
  font-size: 30pt;
  margin: 0;
  margin-top: 10px;
}
.card-status {
  color: grey;
}
.md-card-title {
  padding: 12px;
  padding-bottom: 0;
}
