.header-title {
  color: white;
}

.zone-card {
  width: 300px !important;
  float: left;
}

.zone-card .mdl-card__title {
  background-image: url('../images/default_zone.jpg');
  min-height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.zone-card {
  overflow: visible;
}

.droplet-image {
  width: 50px;
  display: block;
}

.zone-text {
  margin-top: 30px;
  display: block;
  font-size: 30pt;
}

.activity-state {
  font-size: 16pt;
}

.run-zone {
  font-size: 20pt;
  position: relative;
}

.run-time-menu {
  height: 200px;
  overflow-y: scroll;
}
