.header-title {
  color: white;
}
.zone-card .mdl-card__title {
  background-image: url('../images/default_zone.jpg');
  min-height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  color: white;
}
